<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<header></header>
   <nav>
    <h1>DH Héroes</h1>
    <ul type="none">
        <li><a href="/babbage"><img src="/images/CharlesBabbage.jpg" width="300" height="300" alt=""></a></li>
        <li><a href="/berners-lee"><img src="/images/Berners-Lee.jpg" width="300" height="300" alt=""></a></li>
        <li><a href="/clarke"><img src="/images/clarke.jpg" width="300" height="300" alt=""></a></li>
        <li><a href="/hamilton"><img src="/images/Margaret_Hamilton_1995.jpg" width="300" height="300" alt=""></a></li>
        <li><a href="/hopper"><img src="/images/grace-hopper.jpg" width="300" height="300" alt=""></a></li>
        <li><a href="/lovelace"><img src="/images/Lovelace.jpg" width="300" height="300" alt=""></a></li>
        <li><a href="/turing"><img src="/images/Turing.jpg" width="300" height="300" alt=""></a></li>
    </ul>
    
</nav>
<footer></footer>
</html>